node_modules/
.env
.env.local
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
backend/uploads_test/
python-scripts/venv/
.next/
dist/
*.pyc
__pycache__/
.DS_Store
*.log

# Pliki tymczasowe Python
python-scripts/dane_transakcji.csv
python-scripts/flows_params.json
python-scripts/przeplywy_finansowe.svg
python-scripts/wykres_przeplywow.svg
